body {
  background: blanchedalmond;
  margin: 0;
}

.container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid saddlebrown;
  min-height: 100vh;
  
}
main, header, footer {
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid seagreen;
}
header {
  margin-top: 1em;
  margin-bottom: .5em;
  
}

main {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-grow: 3;
  
}

footer {
  margin-top:0.5em;
  margin-bottom: 1em;

}
header, footer {
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
    flex-grow: 1;
  }
  main {
    width: 50%;
    flex-grow: 3;
  }
  footer {
    width: 15%;
    
  }
  
  
  
}

