body {
  background: papayawhip;
}
*{
  border: 1px solid teal;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

}
.stretcher {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 70vh;
  justify-content: space-between;
}
header, footer, aside, .stretcher {
  flex-grow: 1;
  margin: 0.5em;
  max-height: 10vh;
}
aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside>div {
  flex-grow: 1;
  margin: 0.5em;
}
main {
  flex-grow: 3;
  margin: 1em;
}

@media (min-width:600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  footer {
    max-height: 100vh;
    
  }
 
}
